<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="UmuSyncImplSuite" verbose="4">
    <test name="SyncManagerTest">
	    <classes>
	    	<class name="umu.sakai.umusync.impl.TestSyncManager"/>
	    </classes>
    </test>
</suite>